<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="fixed-bottom" th:fragment="footer">
    <!--<div class="container">
        <div class="row">
            <div class="col-1 text-center">
                <img th:src="@{/assets/img/raccoon.svg}" alt="Enotes" th:height="40" th:width="40">
            </div>
            <div class="col-sm">
                <p class="text-muted"><b>Evgeniy Kiprenko 2020</b><br>
                    <b>email:</b> zhenyakiprenko@gmail.com</p>
            </div>
        </div>
    </div>-->
</footer>
</body>
</html>