<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

    <link th:href="@{/assets/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h5>Registration: </h5>
    <form th:action="@{/registration}" method="post">
        <div><label> First name: <input type="text" name="text"/> </label></div>
        <div><label> Last name: <input type="text" name="text"/> </label></div>
        <div><label> Age: <input type="text" name="text"/> </label></div>
        <div><label> Country: <input type="text" name="text"/> </label></div>
        <div><label> Email : <input type="email" name="email"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign Up"/></div>
    </form>
</div>
</body>
</html>