<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="icon" type="image/ico" th:href="@{/assets/img/raccoon.svg}"/>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

    <link th:href="@{/assets/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body class="bg-light">
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <div sec:authorize="isAnonymous()">
        <p class="font-weight-light text-center text-lg-left mt-4 mb-0">Nice to meet you, stranger!
            <a th:href="@{/login}">Click here to Sign In</a></p>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>