<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

    <link th:href="@{/assets/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">Nice to meet you, stranger!</h3>
</div>
</body>
</html>