<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>View note</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/welcome">Enotes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/note/new">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notesGalleryView">Notes<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notebooks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cabinet</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container" th:if="${note != null}">
    <form th:object="${note}" method="post" th:action="@{/note/update}">
        <div style="display: none">
            <input type="text" th:field="*{id}" th:value="*{id}">
        </div>
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="1"
                      th:field="*{header}" th:text="*{header}"></textarea>
        </div>
        <div class="form-group">
            <select name="state" id="noteStateSelect">
                <option th:each="state : ${T(enotes.note.NoteState).values()}"
                        th:value="${state}" th:text="${state.stateAsString}"></option>
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="10"
                      th:field="*{body}" th:text="*{body}"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Save editing</button>
        <a th:href="*{'/note/delete/' + id}">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
    </form>
</div>
<div class="container" th:if="${note == null}">
    <h3>Oops, it seems we have a problem with your note:(</h3>
</div>
</body>
</html>